In [127]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [128]:
pd.options.display.float_format = '{:,.2f}'.format

In [129]:
# Loading Data Bunch from Scy Kit Learn Package
import sklearn.datasets as sklds

databunch = sklds.load_boston()
databunch.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [130]:
# Loading Features from Data Bunch
features = pd.DataFrame(databunch.data, columns=databunch.feature_names)
features.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.01,18.00,2.31,0.00,0.54,6.58,65.20,4.09,1.00,296.00,15.30,396.90,4.98
1,0.03,0.00,7.07,0.00,0.47,6.42,78.90,4.97,2.00,242.00,17.80,396.90,9.14
2,0.03,0.00,7.07,0.00,0.47,7.18,61.10,4.97,2.00,242.00,17.80,392.83,4.03
3,0.03,0.00,2.18,0.00,0.46,7.00,45.80,6.06,3.00,222.00,18.70,394.63,2.94
4,0.07,0.00,2.18,0.00,0.46,7.15,54.20,6.06,3.00,222.00,18.70,396.90,5.33

In [131]:
features = features.astype(np.float32)
print(features.dtypes)
print(features.shape)

CRIM       float32
ZN         float32
INDUS      float32
CHAS       float32
NOX        float32
RM         float32
AGE        float32
DIS        float32
RAD        float32
TAX        float32
PTRATIO    float32
B          float32
LSTAT      float32
dtype: object
(506, 13)

In [132]:
features.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.01,18.00,2.31,0.00,0.54,6.57,65.20,4.09,1.00,296.00,15.30,396.90,4.98
1,0.03,0.00,7.07,0.00,0.47,6.42,78.90,4.97,2.00,242.00,17.80,396.90,9.14
2,0.03,0.00,7.07,0.00,0.47,7.18,61.10,4.97,2.00,242.00,17.80,392.83,4.03
3,0.03,0.00,2.18,0.00,0.46,7.00,45.80,6.06,3.00,222.00,18.70,394.63,2.94
4,0.07,0.00,2.18,0.00,0.46,7.15,54.20,6.06,3.00,222.00,18.70,396.90,5.33

In [133]:
# Loading Target from Data Bunch
target = pd.Series(databunch.target, dtype=np.float32)
target.head()

0   24.00
1   21.60
2   34.70
3   33.40
4   36.20
dtype: float32

In [134]:
# Split data in train and test subsets 
import sklearn.model_selection as sklms

f_train, f_test, t_train, t_test = sklms.train_test_split(features, target, test_size=0.2, random_state=0)
print('Train :', f_train.shape, t_train.shape)
print('Test  :', f_test.shape, t_test.shape)

Train : (404, 13) (404,)
Test  : (102, 13) (102,)

In [135]:
# Creating Feature Columns structure
feature_columns = [tf.feature_column.numeric_column(key = column) for column in features.columns]
feature_columns

[NumericColumn(key='CRIM', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='ZN', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='INDUS', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='CHAS', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='NOX', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='RM', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='AGE', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='DIS', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='RAD', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='TAX', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='PTRATIO', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='B', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='LSTAT', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [136]:
# Creating Train Input Function
args = {'x':f_train, 'y':t_train, 'batch_size':32, 'shuffle':True, 'num_epochs':None}
train_input_fn = tf.estimator.inputs.pandas_input_fn(**args)
# Creating Test Input Function
args = {'x':f_test, 'y':t_test, 'batch_size':32, 'shuffle':False, 'num_epochs':1}
test_input_fn = tf.estimator.inputs.pandas_input_fn(**args)

In [137]:
# Defining Error Optimizer
learningRate = 0.1
optimizer = tf.train.GradientDescentOptimizer(learningRate)
optimizer = tf.contrib.estimator.clip_gradients_by_norm(optimizer, 5.0)

In [138]:
# Defining the Model
modeldir = 'training/data'
model = tf.estimator.LinearRegressor(feature_columns=feature_columns, optimizer=optimizer, model_dir=modeldir)

In [120]:
# Training the Model
epochs = 1000
model.train(input_fn=train_input_fn, steps=epochs)

In [121]:
# Testing the model
model.evaluate(input_fn=test_input_fn)

{'average_loss': 7189.8936,
 'label/mean': 22.21961,
 'loss': 183342.28,
 'prediction/mean': -61.089455,
 'global_step': 1000}

In [126]:
# Predict Values using the model
t_pred = pd.Series([p['predictions'][0] for p in list(model.predict(input_fn=test_input_fn))])
t_pred

0     -62.91
1     -86.59
2     -49.59
3     -89.96
4     -61.42
       ...
97    -39.85
98    -70.77
99    -46.93
100   -48.99
101   -60.23
Length: 102, dtype: float64